</p>
<div class="well">
  <p>
    <%= simple_form_for(user) do |f| %>
      <div class="col-md-3">
        <%=link_to user.email, user  %>
      </div>
      <div class="col-md-3">
        <%=f.input :role, collection: (User.roles.keys).map{|role| [role.titleize, role]}, label: false, include_blank: false %>
      </div>
      <div class="col-md-3">
        <%=f.submit class: "btn btn-default" %>
      </div>
      <div class="col-md-3">
        <%=link_to "delete", user_path(user), class: 'btn btn-default', method: :delete%>
      </div>
  <% end %>
  </p>
</div>