<div class="well">
        <p>
            <%= simple_form_for(user) do |f| %>
                    <div class="col-md-3">
                        <%=link_to user.email, user  %>
                    </div>
                    <div class="col-md-3">
                        <%=f.input :role, collection: (User.roles.keys).map{|role| [role.titleize, role]}, label: false, include_blank: false %>
                    </div>
                    <div class="col-md-3">
                        <% if policy(@current_user).update? %>
                            <%=f.submit "Change Role", class: "btn btn-default" %>
                        <% end %>
                    </div>
                    <div class="col-md-3">
                        <% if policy(@current_user).destroy? %>
                            <%=link_to "delete", user_path(user), class: 'btn btn-default', method: :delete%>
                        <% end %>
                    </div>

            <% end %>

        </p>
</div>